label {
  padding-top: 9px;
}

.adminHeading {
  margin-top: 1rem;
}

.option {
  display: flex;
  margin: 0 10px 0 10px;
}

.questions {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 30%;
  display: flex;
  width: 600px;
}

div.question {
  display: flex;
  margin-top:40px;
  text-align: justify; /* For Edge */
  text-align-last: left;
}

.radioButton {
  margin-left: 10rem;
  display: flex;
}

.customAmount{
  position: relative;
  width:40%;
  left:18%;
  bottom: 10px;
  /* top:29%;
  left:28%;
  margin-left:22%;
  width:15%; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.highToLow{
  position: relative;
  left:100px;
  margin:0px 5px 0px 0px;
  height: 10px;
  width:39px
}


.graph{
  margin: 3rem 2rem 2rem 2rem;
}

