@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
body {
  background-color: #030303;
  color: #ffffff;
  text-align: center;
}

.heading {
  font-size: 32px;
}
